<div class="card">
  Track your concert request progress here, <%= @request.requester_name %>.

  <br>

  <%= if @request do %>
    <% current_status = display_state(@request) %>
    Current Status: <%= current_status %>
  <% end %>
</div>
