.badge {
  display: inline-block;
  min-width: 1.5em;
  min-height: 1.5em;
  padding: .3em;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  background: #1779ba;
  color: #fefefe;

  &.best {
    background: green;
  }
  &.better {
    background: yellowgreen;
  }
  &.good {
    background: yellowgreen;
  }
  &.bad {
    background: #880000;
  }
}

.days-ago-badge {
  width: 1.7em;
  height: 2em;
	background-image: url(/images/icons/calendar.svg);
	background-repeat: no-repeat;
	display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-right: 2px;

	.days-text {
    display: inline-block;
    padding-top: 7px;
	}
}