/*
 * Styles for the landing page.
 */

header.landing {
	.content-wrapper {
		@include desktop {
			display: flex;
		}

		.description {
			@include desktop {
				flex: 1;
			}
		}

		.images {
			display: none;

			@include tablet {
				display: block;
				margin-top: 20px;
				text-align: center;
			}

			@include desktop {
				align-self: flex-end;
				margin: 0;
			}
		}
	}

	img {
		max-height: 144px;
		width: auto;
	}
}

.card.story {
	.image-wrapper {
		@include tablet {
			display: flex;
		}

		.image {
			margin: 10px 0 20px;

			@include tablet {
				flex: 1 1 auto;
			}
		}

		p {
			color: $dark-blue;
			font-style: italic;
			margin: 0;

			@include tablet {
				flex: 0 0 250px;
				font-size: 1.5em;
				padding-left: 20px;
			}
		}
	}
}

.card.call-to-action {
	text-align: center;
}
