.musician-form {
  input[type="url"] {
    width: 45%;
  }

  .inline-input {
    display: inline-block;
  }
}

.musician-img {
  max-height: 200px;
  width: auto;
}

.musician-img-preview {
  max-height: 100px;
  width: auto;
}

.musician-photo-form {
  margin-top: 10px;

  .photo-title {
    border: 0px;
    border-bottom-width: 1px;
    border-color: black;
    border-style: solid;
    width: 45%;
    margin-bottom: 10px;
  }
}