@import "./colors";
@import "./mixins";
@import "./layout";
@import "./landing";
@import "./request-form";
@import "./tips";

.field {
	display: block;

	& + .field {
		margin-top: 20px;
	}
}

.checkbox-field {
	padding: 5px 0;

	input {
		margin-right: 10px;
	}

	input,
	span {
		vertical-align: middle;
	}
}

label {
	div {
		display: block;
		margin: 0.25em 0;
	}

	input,
	textarea,
	select {
		display: block;
		padding: 5px;
		margin: 5px 0px;
		border: 1px solid #cccccc;
		box-shadow: inset 0 1px 3px #dddddd;
		border-radius: 4px;
		box-sizing: border-box;
		line-height: normal;

		&.not-valid {
			box-shadow: 0 0 5px $error-red;
			border-color: $error-red;
		}
	}

	input[type="checkbox"] {
		display: inline-block;
	}

	&.radio-button {
		display: block;
		cursor: pointer;

		input {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

textarea {
	width: 100%;
	height: 60px;
}

input#request_nominee_street_address {
	width: 100%;
}

div#address_container {
	display: inline-block;
	width: 100%;

	label:first-child {
		float: left;
	}

	label {
    margin-right:15px;
	}
}

.required {
	color: $error-red;
}

.help-block {
	font-size: 0.9em;
}

.booker {
	.columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: yellow;

		.column {
			padding: 0 8px;

			&.over {
				border: 1px solid purple;
			}

			.draggable-card[draggable] {
				cursor: move;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				user-select: none;
				/* Required to make elements draggable in old WebKit */
				-khtml-user-drag: element;
				-webkit-user-drag: element;

				&.dragging {
					box-shadow: 0 0 5px purple;
				}

				&.over {
					border-top: 2px solid purple;
				}

				.card {
					margin: 8px 0;
				}
			}
		}
	}
}
