@import "./colors";
@import "./mixins";
@import "./layout";
@import "./landing";
@import "./request-form";

.field {
	display: block;

	& + .field {
		margin-top: 20px;
	}
}

.checkbox-field {
	padding: 5px 0;

	input {
		margin-right: 10px;
	}

	input,
	span {
		vertical-align: middle;
	}
}

label {
	div {
		display: block;
		margin: 0.25em 0;
	}

	input,
	textarea,
	select {
		display: block;
		padding: 5px;
		margin: 5px 0px;
		border: 1px solid #cccccc;
		box-shadow: inset 0 1px 3px #dddddd;
		border-radius: 4px;
		box-sizing: border-box;
		line-height: normal;

		&.not-valid {
			box-shadow: 0 0 5px $error-red;
			border-color: $error-red;
		}
	}

	input[type="checkbox"] {
		display: inline-block;
	}

	&.radio-button {
		display: block;
		cursor: pointer;

		input {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

textarea {
	width: 100%;
	height: 60px;
}

input#request_nominee_address {
	width: 100%;
}

.required {
	color: $error-red;
}

.help-block {
	font-size: 0.9em;
}
