<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Curbside Concerts" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(CurbsideConcertsWeb.Endpoint, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
    </header>
    <main role="main" class="content live-content">
      <!-- render flash alerts, if needed -->
      <!-- REMOVED get_flash because @conn not available in LiveView -->
      <!-- render page content -->
      <%# <%= render @view_module, @view_template, assigns %>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(CurbsideConcertsWeb.Endpoint, "/js/app.js") %>"></script>
  </body>
</html>
