/* This file is for your main application css. */

body {
  background-color: rgb(238, 243, 245);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
}

label > div {
  display: block;
  margin: .25em 0;
}

form {
  display: block;
  max-width: 80%;
  margin: 12px auto;
  min-width: 200px;
}

label > input {
  display: block;
  margin: .25em 0;
  padding: .5em .6em;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 3px #dddddd;
  border-radius: 4px;
  box-sizing:border-box;
  line-height: normal;
}

.card {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
}

.required {
  color: red;
}

input.not-valid, select.not-valid {
  display: inline;
  box-shadow: 0 0 5px red;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid red;
}
