<div class="card card-with-nav">
	<%= LayoutView.render_nav_links(LayoutView.get_nav_links("TIPS")) %>

  <header class="landing">
    <h1>Tip your curbside musician</h1>
		<br/> 
		<p>
			Heard a curbside concert and want to contribute? Follow, subscribe and tip this weekend’s musicians using the information below.
		</p>
  </header>
</div>

<div class="card musician-tip-card">
	<h2>Dan Orr</h2>

	<img src="/images/musicians/DanOrr.jpg" alt="DanOrr" />

	<h3>About Dan</h3>
	<p>
		Dan is a musician and radio personality with over 25 years of experience performing for audiences. He has a real gift for relating to people and uses his vast knowledge of all genres of music  – primarily classic rock and pop, oldies – to take requests and play people’s favorites. Dan has a quick-witted humor and has been known to do “audience appropriate" comedy/parody songs when asked. He often performs with his wife, Kim, an amazing performer and singer. Dan does solo acts, performs for events like weddings and also plays with his band, The Dan Orr Project.
	</p>

	<h3>Dan's Social</h3>
	<ul>
		<li><a href="https://DanOrrLive.com">Website</a></li>
		<li><a href="https://www.facebook.com/The-Dan-Orr-Project-113266572482/">Facebook</a></li>
	</ul>

	<h3>Tip Dan</h3>
	<a role="button" class="button" href="https://venmo.com/HeyDanOrr">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Paisha Thomas</h2>

	<img src="/images/musicians/PaishaThomas.png" alt="PaishaThomas" />

	<h3>About Paisha</h3>
	<p>
		Paisha creates music about love, politics, self-discovery, and the condition of the world. She incorporates elements of gospel, blues and soul into her earthy compositions which she performs in local venues with a band and sometimes as a solo artist. Paisha has a drive to prove that equality and justice are important. She uses her music and who she is as a person to change things for the better through volunteer work and supportive connections. Her causes involve promoting cultural awareness and understanding, ensuring child safety and health, and developing communities.  
	</p>

	<h3>Paisha's Social</h3>
	<ul>
		<li><a href="https://www.paishathomas.com">Website</a></li>
		<li><a href="https://twitter.com/paishasplace">Twitter</a></li>
		<li><a href="https://www.instagram.com/iampaisha/">Instagram</a></li>
		<li><a href="https://www.facebook.com/paishaband/">Facebook</a></li>
	</ul>

	<h3>Tip Paisha</h3>
	<a role="button" class="button" href="https://cash.app/$Paisha">CashApp</a>
</div>

<div class="card musician-tip-card">
  <h2>Doug Hare</h2>

	<img src="/images/musicians/DougHare.jpeg" alt="DougHare" />

	<h3>About Doug</h3>
	<p>
		Drawing from over twenty years of experience, Doug plays a diversity of musical performances – from solo piano, mellow acoustic, to rock and roll sing-alongs. But what he loves to do most is really understand his audience so he can tailor a performance that leaves them with a smile. Doug regularly plays at country clubs, restaurants and private parties all over Columbus. Because he knows so many songs, Doug takes an extremely personalized approach to each performance, which makes him (and those who get to watch) really happy.
	</p>

	<h3>Doug 's Social</h3>
	<ul>
		<li><a href="http://www.dougharemusic.com">Website</a></li>
		<li><a href="https://www.instagram.com/dougharemusic/">Instagram</a></li>
		<li><a href="https://www.facebook.com/dougharemusic/">Facebook</a></li>
	</ul>

	<h3>Tip Doug</h3>
	<a role="button" class="button" href="https://venmo.com/dougharemusic">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Will Freed</h2>

	<img src="/images/musicians/WillFreed.jpg" alt="Will Freed" />

	<h3>About Will</h3>
	<p>
		Will Freed is a singer/songwriter who grew up in West Virginia, but now calls Columbus home. Will began playing for a living at an early age – developing his own style, writing music and learning how to play 100s of covers in his own unique, heartwarming tone. He lives in Grove City with his wife Ashley.
	</p>

	<h3>Will's Social</h3>
	<ul>
		<li><a href="https://twitter.com/willfreed">Twitter</a></li>
		<li><a href="https://www.instagram.com/willfreedband/">Instagram</a></li>
		<li><a href="https://www.facebook.com/thewillfreedband/">Facebook</a></li>
	</ul>

	<h3>Tip Will</h3>
	<a role="button" class="button" href="https://cash.app/$willfreed1">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/will-freed-1">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/willfreed">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>Kevin Buckland</h2>

	<img src="/images/musicians/KevinBuckland.png" alt="KevinBuckland" />

	<h3>About Kevin</h3>
	<p>
		Kevin is a live jazz drummer who plays solo performances with accompaniment soundtracks. You can find him playing at many events around Ohio – helping  “jazz them up” with his smooth performances and lively drumming.
	</p>

	<h3>Kevin’s Social</h3>
	<ul>
		<li><a href="https://kevin2517.wixsite.com/kbjazz">Website</a></li>
	</ul>

	<h3>Tip Kevin</h3>
	<a role="button" class="button" href="https://www.paypal.me/peegeebee470">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>Francisco Rojas</h2>

	<img src="/images/musicians/FranciscoRojas.jpg" alt="FranciscoRojas" />

	<h3>About Francisco</h3>
	<p>
		Francisco Rojas is a Columbus native, growing up in Upper Arlington, OH. He began playing guitar at the age of 13, attending the Fort Hayes Vocational Music program in his final year of high school, and going on to study music in college. Francisco has since managed a career as a solo-acoustic guitarist & singer, band front-man, lead-guitarist/back-up vocalist, and teacher. He has been playing professionally for over 15 years and has been teaching for over 10 years. As a solo performer, he does a lot of looping and plays covers from many different artists/eras.
	</p>

	<h3>Francisco’s Social</h3>
	<ul>
		<li><a href="https://franciscorojas.org">Website</a></li>
		<li><a href="https://www.instagram.com/Rojazzbg">Instagram</a></li>
	</ul>

	<h3>Tip Francisco</h3>
	<a role="button" class="button" href="https://cash.app/$frojasguitar">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/franciscorojas39">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Scottie G</h2>

	<img src="/images/musicians/ScottieG.jpg" alt="Scottie G" />

	<h3>About Scottie</h3>
	<p>
	Scottie G is a performing singer and multi-instrumentalist. He is driven by his passion for emotional expression through music. A professional musician, he has been teaching guitar and offering contemporary voice counsel to students of all ages for years.
	</p>

	<h3>Scottie's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/scott.greene.33">Facebook</a></li>
		<li><a href="https://www.instagram.com/scottie_g_yo">Instagram</a></li>
	</ul>

	<h3>Tip Scottie</h3>
	<a role="button" class="button" href="https://cash.app/$scottiegyo">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/scottiegyo">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/scottiegyo">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>KaTanya Ingram</h2>

	<img src="/images/musicians/KaTanyaIngram.jpg" alt="Katanya Ingram" />

	<h3>About KaTanya</h3>
	<p>
		KaTanya believes that music brings people together. She grew up in a military family and has traveled the world from Italy to the United States, Germany and back again. Although not originally from Columbus, she’s inspired by the vast opportunities to enjoy many types of artistic expression in Columbus and its surrounding areas. She identifies not as a singer or vocalist but as a street performer, and enjoys putting smiles on faces and creating a joyful atmosphere in public spaces.
	</p>

	<h3>KaTanya's Social</h3>
	<ul>
		<li><a href="https://twitter.com/girlnowwhat">Twitter</a></li>
		<li><a href="https://www.instagram.com/GirlNowWhat/">Instagram</a></li>
		<li><a href="https://www.facebook.com/GirlNowWhat/">Facebook</a></li>
	</ul>

	<h3>Tip KaTanya</h3>
	<a role="button" class="button" href="https://cash.app/$GirlNowWhat">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/GirlNowWhat">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Caroline Inspires</h2>

	<img src="/images/musicians/CarolineInspires.jpg" alt="Caroline Inspires" />

	<h3>About Caroline</h3>
	<p>
		Caroline Inspires, originally from Tulsa, Oklahoma, is a multi-faceted artist-poet, vocalist, story-teller with a root emphasis in gopel and neo-soul. She performs regularly all over Columbus as part of a variety of organizations and major events.
	</p>

	<h3>Caroline's Social</h3>
	<ul>
		<li><a href="https://www.instagram.com/CarolineInspires">Instagram</a></li>
		<li><a href="https://www.facebook.com/caroline.bennett.982845">Facebook</a></li>
	</ul>

	<h3>Tip Caroline</h3>
	<a role="button" class="button" href="https://cash.app/$CarolineInspires">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/CarolineInspires">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Joanie Calem</h2>

	<img src="/images/musicians/JoanieCalem.jpg" alt="Joanie Calem" />

	<h3>About Joanie</h3>
	<p>
		Joanie Calem is a musician, singer/song-writer, and teacher.  She has been creating music and teaching people of all ages since 1983. Her goal in both performances and teaching is to invite audiences and students to share a sense of creating community through singing and playing together.
	</p>

	<h3>Joanie's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/joanie.calem">Facebook</a></li>
	</ul>

	<h3>Tip Joanie</h3>
	<a role="button" class="button" href="https://venmo.com/Joanie-Calem">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Race Lerma</h2>

	<img src="/images/musicians/RaceLerma.jpg" alt="Race Lerma" />

	<h3>About Race</h3>
	<p>
		Race is a gigging freelance musician from Findlay, Ohio, currently residing in Columbus. As predominantly a solo cover artist, his genres include blues, folk, jazz, americana, indie, pop, and classic rock. In addition to guitar, Race is also the bassist for award-winning local band Null Set, and a classically trained violinist of 15 years. He is currently majoring in violin performance at Capital University's Conservatory of Music.
	</p>

	<h3>Race's Social</h3>
	<ul>
		<li><a href="https://www.instagram.com/racelerma">Instagram</a></li>
	</ul>

	<h3>Tip Race</h3>
	<a role="button" class="button" href="https://venmo.com/race-lerma">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/racelerma">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Jordidge</h2>

	<img src="/images/musicians/jordidge.jpg" alt="Jordidge" />

	<h3>About Jordidge</h3>
	<p>
		Jordidge’s work is derived from his love for words, emotion and philosophies. With every piece, he wants people to dig down and get “the feels”. The kind that linger long after you have forgotten what you experienced. He plays the acoustic/electric guitar with soulful vocals, mostly original songs with the occasional cover.
	</p>

	<h3>Jordidge's Social</h3>
	<ul>
		<li><a href="https://twitter.com/jordidge">Twitter</a></li>
		<li><a href="https://www.instagram.com/jordidge/">Instagram</a></li>
		<li><a href="https://www.facebook.com/Jordidge1/">Facebook</a></li>
	</ul>

	<h3>Tip Jordidge</h3>
	<a role="button" class="button" href="https://cash.app/$Jordidge">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/Jordidge">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Chaz & Nicki</h2>

	<img src="/images/musicians/NickiChaz.jpg" alt="NickiChaz" />

	<h3>About Chaz & Nicki</h3>
	<p>
    Singer and guitarist Chaz Mechenbier has been performing locally, nationally and internationally for decades with well known acts such as Jerry Reed, Ronnie Milsap, and local favorites, Phil Dirt and The Dozers. Singer Nicki Baker is a third generation musician from Columbus who grew up on a tour bus singing southern gospel with her family. The duo is in high demand and both perform several times weekly at various venues, festivals, and events around Ohio. Music has the power to transport us to another time and place. Chaz and Nicki love to harness that power with a broad audience of fellow music lovers and passionate musicians alike.
	</p>

	<h3>Chaz & Nicki's Social</h3>
	<ul>
  	<li><a href="https://www.chazguitar.com">Website</a></li>
		<li><a href="https://www.facebook.com/chaz.mechenbier">Facebook</a></li>
	</ul>

	<h3>Tip Chaz & Nicki</h3>
	<a role="button" class="button" href="https://cash.app/$Chazmech">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/Chazguitar">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/chazandnicki">PayPal</a>
</div>


<div class="card musician-tip-card">
  <h2>George Barrie</h2>

	<img src="/images/musicians/GeorgeBarrie.jpg" alt="GeorgeBarrie" />

	<h3>About George</h3>
	<p>
    George Barrie’s upbeat blend of guitar driven groovy rock and pop is reminiscent of artists such as Ben Harper, Eric Clapton, John Mayer, Jack Johnson and Dave Matthews.  With his own music, George is striving to balance powerful songwriting with melodic/bluesy guitar playing. The George Barrie Band released their debut album in the summer of 2016 and is back in the studio working on a follow up.
	</p>

	<h3>George's Social</h3>
	<ul>
  	<li><a href="http://www.GeorgeBarrieBand.com">Website</a></li>
		<li><a href="https://twitter.com/GeorgeBarrie">Twitter</a></li>
		<li><a href="https://www.instagram.com/GeorgeBarrieMusic">Instagram</a></li>
		<li><a href="https://www.facebook.com/GeorgeBarrieBand">Facebook</a></li>
	</ul>

	<h3>Tip George</h3>
	<a role="button" class="button" href="https://cash.app/$GeorgeBarrie">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/GeorgeBarrie">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/GeorgeBarrieMusic@gmail.com">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Nick D’Andrea</h2>

	<img src="/images/musicians/NickDAndrea.jpg" alt="NickDAndrea" />

	<h3>About Nick</h3>
	<p>
    Nick D’Andrea is from Columbus, Ohio. He started writing songs at the age of 16 and spent the next decade creating home recordings and pursing a career in education. In 2013 he decided to pursue music full time and formed Nick D’ & the Believers with Joseph Barker and Kerry Henderson. All told they released four EPS, three singles, toured extensively and had a number of songs featured on national TV shows.
  </p>
  <p>
    That same year he formed a new project, Doc Robinson, with Columbus based singer-songwriter Jon Elliott of The Floorwalkers. They released their debut EP, Golden Daze in November 2016 and they have since released two full length albums, three EPs and a hatful of singles. They have toured extensively, opening for Columbus natives, Caamp.
  </p>
  <p>
    Nick’s songwriting is deeply influenced by luminaries of the industry such as Bob Dylan, Paul Simon, Smokey Robinson, John Lennon, George Harrison, Paul McCartney, Tom Waits and Leonard Cohen, as well as more contemporary artists like Vampire Weekend, Wilco, and the Tallest Man on Earth.
	</p>

	<h3>Nick's Social</h3>
	<ul>
  	<li><a href="https://www.nickdandreamusic.com">Website</a></li>
		<li><a href="https://www.instagram.com/n_d.andrea">Instagram</a></li>
	</ul>

	<h3>Tip Nick</h3>
	<a role="button" class="button" href="https://cash.app/$nickdandrea">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/n_dandrea">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Dr. E</h2>

	<img src="/images/musicians/Dr-E.jpg" alt="Dr-E" />

	<h3>About Dr. E</h3>
	<p>
    Dr. E is a multi-dimensional personality- author, professor, performance artist, captivating soul singer, and songwriter.  Carving out a niche for herself as the Inspirational Soul Queen, she poetically delivers her own experiences in a genre-melding set of soul, blues, jazz and r&b, while also paying homage to vocal icons Big Mama Thornton, Aretha, Chaka and more.  Get lit with The Inspirational Soul Queen—Dr. E!
	</p>

	<h3>Dr. E's Social</h3>
	<ul>
  	<li><a href="https://giveusfreerecords.com">Website</a></li>
		<li><a href="https://twitter.com/DoctaE1">Twitter</a></li>
		<li><a href="https://www.instagram.com/InspirationalSoulQueen">Instagram</a></li>
		<li><a href="https://www.facebook.com/InspirationalSoulQueen">Facebook</a></li>
	</ul>

	<h3>Tip Dr. E</h3>
	<a role="button" class="button" href="https://cash.app/$DoctaE">CashApp</a>
	<a role="button" class="button" href="https://www.paypal.me/GiveUsFreeRecords">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Amber Knicole & Walter K</h2>

	<img src="/images/musicians/AmberWalter.jpg" alt="AmberWalter" />

	<h3>About Amber Knicole & Walter K</h3>
	<p>
    A.W. Duo is composed of two of Columbus’ favorite musicians, Amber Knicole & Walter K from one of the city’s premier band, Mojoflo. Both powerful musicians, these two work the stage and have incredible chemistry.
	</p>

	<h3>Amber & Walter's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/AWDuoMusic">Facebook</a></li>
	</ul>

	<h3>Tip Amber & Walter</h3>
	<a role="button" class="button" href="https://venmo.com/Walter-Kolhoff">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/walterkolhoff">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Steve Paxton</h2>

	<img src="/images/musicians/StevePaxton.jpg" alt="StevePaxton" />

	<h3>About Steve</h3>
	<p>
		Keyboardist and vocalist with over 25 years of experience in the music industry from Nashville to Las Vegas, traveling the globe with numerous major label artists. I have recorded/performed with artists such as: Buddy Jewell, Miranda Lambert, Brad Paisley, Chad Brock, The Wilkinsons and Chely Wright to name a few.
	</p>

	<h3>Steve's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/spaxton88">Facebook</a></li>
	</ul>

	<h3>Tip Steve</h3>
	<a role="button" class="button" href="https://cash.app/$StevenDPaxton">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/spaxton88">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/spaxton88">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Austin Riffe</h2>

	<img src="/images/musicians/AustinRiffe.jpg" alt="AustinRiffe" />

	<h3>About Austin</h3>
	<p>
    Austin plays classic bar tunes that make you wish you were at your favorite dive with an ice cold beer.
	</p>

	<h3>Austin's Social</h3>
	<ul>
		<li><a href="https://www.youtube.com/channel/UCR_kDcIXD4sEtFVKgsJX7PQ?">YouTube</a></li>
		<li><a href="https://www.facebook.com/austin.riffe.5">Facebook</a></li>
	</ul>

	<h3>Tip Austin</h3>
	<a role="button" class="button" href="https://cash.app/$AustinRiffe5">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/AustinRiffe">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/AustinRiffe5">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Topher James</h2>

	<img src="/images/musicians/TopherJames.jpg" alt="TopherJames" />

	<h3>About Topher</h3>
	<p>
		Topher James is lead singer of the Biscuit Brigade a powerhouse soul band including back up harmonies and horns but you can also catch him solo with an acoustic guitar. Sometimes playing with a looping pedal to fill out the sound improvising live harmonies on the spot or acoustic with soulful renditions of folk, pop, blues, and his originals.
	</p>

	<h3>Topher's Social</h3>
	<ul>
  	<li><a href="https://www.topherjamesmusic.com">Website</a></li>
		<li><a href="https://twitter.com/efilsitra">Twitter</a></li>
		<li><a href="https://www.instagram.com/topherjamesmusic">Instagram</a></li>
		<li><a href="https://www.facebook.com/topherjamesandbiscuitbrigade">Facebook</a></li>
	</ul>

	<h3>Tip Topher</h3>
	<a role="button" class="button" href="https://cash.app/$topherjames">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/topherjamesmusic">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/c.topherjames@gmail.com">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Christina Myles</h2>

	<img src="/images/musicians/ChristinaMyles.jpg" alt="ChristinaMyles" />

	<h3>About Christina</h3>
	<p>
    Vocalist and sometimes referred to as a Soul Singer. I desire for listeners to experience a new perspective for life and love. I believe that my purpose is to help others live their BEST LIFE through song and Word.
	</p>

	<h3>Christina's Social</h3>
	<ul>
		<li><a href="https://www.instagram.com/cmyles_onpurpose">Instagram</a></li>
		<li><a href="https://www.facebook.com/7mylesofmusic">Facebook</a></li>
	</ul>

	<h3>Tip Christina</h3>
	<a role="button" class="button" href="https://cash.app/$Cmyles721">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/CMyles721">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/7Myles">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Kyle Marler</h2>

	<img src="/images/musicians/KyleMarler.jpg" alt="KyleMarler" />

	<h3>About Kyle</h3>
	<p>
		I have worked for Carnival Cruise Lines as a guitar-singer for the past year and a half. I love to bring others joy through music and by exuding positive vibes ! I'm happy to share my entire repertoire of around 250 songs on my Facebook page so people can look at the songs I do from the comfort of their phones and shout requests at me!
	</p>

	<h3>Kyle's Social</h3>
	<ul>
		<li><a href="https://www.youtube.com/channel/UCWs7xO3aaNyVy2JIT_D6g0g">YouTube</a></li>
		<li><a href="https://www.instagram.com/kylebobguitar">Instagram</a></li>
		<li><a href="https://www.facebook.com/kylebobguitar">Facebook</a></li>
	</ul>

	<h3>Tip Kyle</h3>
	<a role="button" class="button" href="https://venmo.com/kyle-j-marler">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/kmarler18@yahoo.com">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Benjamin Marshall</h2>

	<img src="/images/musicians/BenjaminMarshall.jpg" alt="BenjaminMarshall" />

	<h3>About Benjamin</h3>
	<p>
    Benjamin Marshall is a singer-songwriter hailing from Columbus, Ohio. He just recently came out with his debut album, the Final Giraffe, breaking himself into the local music market with a diversified sound of folk, indie, alternative and pop - blended in with catchy hooks. His songs consist of a variety of different perspectives and topics that apply to the current world we live in, influenced by life's experiences, observations and conversations with everyday people. His main ambition is to compose songs that not only are relatable but are at the heart and communicate an avenue for the words often unspoken through everyday life.
	</p>

	<h3>Benjamin's Social</h3>
	<ul>
  	<li><a href="https://www.benjaminmarshallmusic.com">Website</a></li>
		<li><a href="https://twitter.com/BenjaminMusicOH">Twitter</a></li>
		<li><a href="https://www.instagram.com/BenjaminDavidMarshallMusic">Instagram</a></li>
		<li><a href="https://www.facebook.com/BenjaminMarshallMusic">Facebook</a></li>
	</ul>

	<h3>Tip Benjamin</h3>
	<a role="button" class="button" href="https://venmo.com/Ben-Marshall-18">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/BenjaminMarshall1989">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Matt Rees</h2>

	<img src="/images/musicians/MattRees.jpg" alt="MattRees" />

	<h3>About Matt</h3>
	<p>
 		Matt does weekly gigs of over 4 hours playing covers and requests pleasing adults of all ages. Happy Modern Pop, By "Happy Modern Pop" I assume you mean favorites like you hear at weddings. That's what I do well.
	</p>
	<h3>Matt's Social</h3>
	<ul>
  	<li><a href="https://reesmusic.webs.com/">Website</a></li>
		<li><a href="https://twitter.com/selfdepricants">Twitter</a></li>
		<li><a href="https://www.instagram.com/mattrmcv">Instagram</a></li>
		<li><a href="https://www.facebook.com/SelfDepricants">Facebook</a></li>
	</ul>

	<h3>Tip Matt</h3>
	<a role="button" class="button" href="https://venmo.com/ReesMusic">Venmo</a>
</div>
