<div class="card card-with-nav">
	<%= LayoutView.render_nav_links(LayoutView.get_nav_links("TIPS")) %>

  <header class="landing">
    <h1>Tip your curbside musician</h1>
		<br/> 
		<p>
			Heard a curbside concert and want to contribute? Follow, subscribe and tip this weekend’s musicians using the information below.
		</p>
  </header>
</div>

<div class="card musician-tip-card">
	<h2>Dan Orr</h2>

	<img src="/images/musicians/DanOrr.jpg" alt="DanOrr" />

	<h3>About Dan</h3>
	<p>
		Dan is a musician and radio personality with over 25 years of experience performing for audiences. He has a real gift for relating to people and uses his vast knowledge of all genres of music  – primarily classic rock and pop, oldies – to take requests and play people’s favorites. Dan has a quick-witted humor and has been known to do “audience appropriate" comedy/parody songs when asked. He often performs with his wife, Kim, an amazing performer and singer. Dan does solo acts, performs for events like weddings and also plays with his band, The Dan Orr Project.
	</p>

	<h3>Dan's Social</h3>
	<ul>
		<li><a href="https://DanOrrLive.com">Website</a></li>
		<li><a href="https://www.facebook.com/The-Dan-Orr-Project-113266572482/">Facebook</a></li>
	</ul>

	<h3>Tip Dan</h3>
	<a role="button" class="button" href="https://venmo.com/HeyDanOrr">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Will Freed</h2>

	<img src="/images/musicians/WillFreed.jpg" alt="Will Freed" />

	<h3>About Will</h3>
	<p>
		Will Freed is a singer/songwriter who grew up in West Virginia, but now calls Columbus home. Will began playing for a living at an early age – developing his own style, writing music and learning how to play 100s of covers in his own unique, heartwarming tone. He lives in Grove City with his wife Ashley.
	</p>

	<h3>Will's Social</h3>
	<ul>
		<li><a href="https://twitter.com/willfreed">Twitter</a></li>
		<li><a href="https://www.instagram.com/willfreedband/">Instagram</a></li>
		<li><a href="https://www.facebook.com/thewillfreedband/">Facebook</a></li>
	</ul>

	<h3>Tip Will</h3>
	<a role="button" class="button" href="https://cash.app/$willfreed1">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/will-freed-1">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/willfreed">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>Kevin Buckland</h2>

	<img src="/images/musicians/KevinBuckland.png" alt="KevinBuckland" />

	<h3>About Kevin</h3>
	<p>
		Kevin is a live jazz drummer who plays solo performances with accompaniment soundtracks. You can find him playing at many events around Ohio – helping  “jazz them up” with his smooth performances and lively drumming.
	</p>

	<h3>Kevin’s Social</h3>
	<ul>
		<li><a href="https://kevin2517.wixsite.com/kbjazz">Website</a></li>
	</ul>

	<h3>Tip Kevin</h3>
	<a role="button" class="button" href="https://www.paypal.me/peegeebee470">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>Francisco Rojas</h2>

	<img src="/images/musicians/FranciscoRojas.jpg" alt="FranciscoRojas" />

	<h3>About Francisco</h3>
	<p>
		Francisco Rojas is a Columbus native, growing up in Upper Arlington, OH. He began playing guitar at the age of 13, attending the Fort Hayes Vocational Music program in his final year of high school, and going on to study music in college. Francisco has since managed a career as a solo-acoustic guitarist & singer, band front-man, lead-guitarist/back-up vocalist, and teacher. He has been playing professionally for over 15 years and has been teaching for over 10 years. As a solo performer, he does a lot of looping and plays covers from many different artists/eras.
	</p>

	<h3>Francisco’s Social</h3>
	<ul>
		<li><a href="https://franciscorojas.org">Website</a></li>
		<li><a href="https://www.instagram.com/Rojazzbg">Instagram</a></li>
	</ul>

	<h3>Tip Francisco</h3>
	<a role="button" class="button" href="https://cash.app/$frojasguitar">CashApp</a>
</div>

<div class="card musician-tip-card">
  <h2>Scottie G</h2>

	<img src="/images/musicians/ScottieG.jpg" alt="Scottie G" />

	<h3>About Scottie</h3>
	<p>
	Scottie G is a performing singer and multi-instrumentalist. He is driven by his passion for emotional expression through music. A professional musician, he has been teaching guitar and offering contemporary voice counsel to students of all ages for years.
	</p>

	<h3>Scottie's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/scott.greene.33">Facebook</a></li>
		<li><a href="https://www.instagram.com/scottie_g_yo">Instagram</a></li>
	</ul>

	<h3>Tip Scottie</h3>
	<a role="button" class="button" href="https://cash.app/$scottiegyo">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/scottiegyo">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/scottiegyo">PayPal</a>
</div>

<div class="card musician-tip-card">
	<h2>KaTanya Ingram</h2>

	<img src="/images/musicians/KaTanyaIngram.jpg" alt="Katanya Ingram" />

	<h3>About KaTanya</h3>
	<p>
		KaTanya believes that music brings people together. She grew up in a military family and has traveled the world from Italy to the United States, Germany and back again. Although not originally from Columbus, she’s inspired by the vast opportunities to enjoy many types of artistic expression in Columbus and its surrounding areas. She identifies not as a singer or vocalist but as a street performer, and enjoys putting smiles on faces and creating a joyful atmosphere in public spaces.
	</p>

	<h3>KaTanya's Social</h3>
	<ul>
		<li><a href="https://twitter.com/girlnowwhat">Twitter</a></li>
		<li><a href="https://www.instagram.com/GirlNowWhat/">Instagram</a></li>
		<li><a href="https://www.facebook.com/GirlNowWhat/">Facebook</a></li>
	</ul>

	<h3>Tip KaTanya</h3>
	<a role="button" class="button" href="https://cash.app/$GirlNowWhat">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/GirlNowWhat">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Caroline Inspires</h2>

	<img src="/images/musicians/CarolineInspires.jpg" alt="Caroline Inspires" />

	<h3>About Caroline</h3>
	<p>
		Caroline Inspires is a singer/songwriter who grew up in West Virginia, but now calls Columbus home. Caroline began playing for a living at an early age – developing his own style, writing music and learning how to play 100s of covers in his own unique, heartwarming tone. He lives in Grove City with his wife Ashley.
	</p>

	<h3>Caroline's Social</h3>
	<ul>
		<li><a href="https://www.instagram.com/CarolineInspires">Instagram</a></li>
		<li><a href="https://www.facebook.com/caroline.bennett.982845">Facebook</a></li>
	</ul>

	<h3>Tip Caroline</h3>
	<a role="button" class="button" href="https://cash.app/$CarolineInspires">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/CarolineInspires">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Joanie Calem</h2>

	<img src="/images/musicians/JoanieCalem.jpg" alt="Joanie Calem" />

	<h3>About Joanie</h3>
	<p>
		Joanie Calem is a musician, singer/song-writer, and teacher.  She has been creating music and teaching people of all ages since 1983. Her goal in both performances and teaching is to invite audiences and students to share a sense of creating community through singing and playing together.
	</p>

	<h3>Joanie's Social</h3>
	<ul>
		<li><a href="https://www.facebook.com/joanie.calem">Facebook</a></li>
	</ul>

	<h3>Tip Joanie</h3>
	<a role="button" class="button" href="https://venmo.com/Joanie-Calem">Venmo</a>
</div>

<div class="card musician-tip-card">
  <h2>Race Lerma</h2>

	<img src="/images/musicians/RaceLerma.jpg" alt="Race Lerma" />

	<h3>About Race</h3>
	<p>
		Race is a gigging freelance musician from Findlay, Ohio, currently residing in Columbus. As predominantly a solo cover artist, his genres include blues, folk, jazz, americana, indie, pop, and classic rock. In addition to guitar, Race is also the bassist for award-winning local band Null Set, and a classically trained violinist of 15 years. He is currently majoring in violin performance at Capital University's Conservatory of Music.
	</p>

	<h3>Race's Social</h3>
	<ul>
		<li><a href="https://www.instagram.com/racelerma">Instagram</a></li>
	</ul>

	<h3>Tip Race</h3>
	<a role="button" class="button" href="https://venmo.com/race-lerma">Venmo</a>
	<a role="button" class="button" href="https://www.paypal.me/racelerma">PayPal</a>
</div>

<div class="card musician-tip-card">
  <h2>Jordidge</h2>

	<img src="/images/musicians/jordidge.jpg" alt="Jordidge" />

	<h3>About Jordidge</h3>
	<p>
		Jordidge’s work is derived from his love for words, emotion and philosophies. With every piece, he wants people to dig down and get “the feels”. The kind that linger long after you have forgotten what you experienced. He plays the acoustic/electric guitar with soulful vocals, mostly original songs with the occasional cover.
	</p>

	<h3>Jordidge's Social</h3>
	<ul>
		<li><a href="https://twitter.com/jordidge">Twitter</a></li>
		<li><a href="https://www.instagram.com/jordidge/">Instagram</a></li>
		<li><a href="https://www.facebook.com/Jordidge1/">Facebook</a></li>
	</ul>

	<h3>Tip Jordidge</h3>
	<a role="button" class="button" href="https://cash.app/$Jordidge">CashApp</a>
	<a role="button" class="button" href="https://venmo.com/Jordidge">Venmo</a>
</div>
